<!DOCTYPE html>
<html>
  <head>
    <title>IvfCryoShipping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//unpkg.com/alpinejs" defer=""></script>
  </head>

  <body>
    <div x-data="{ mobileNavOpen: false }" class="relative flex flex-col min-h-screen pt-24 overflow-hidden text-ivf-blue">
      <div class="absolute top-0 left-0 z-20 flex items-center w-full h-24 px-4 bg-white shadow-md lg:px-10">
        <header class="flex items-center justify-between w-full h-full mx-auto ">
          <a href="/" aria-label="Home page" class="w-28 lg:w-32">
            <%= render '/shared/svgs/logo.svg' %>
          </a>
          <nav class="items-center hidden h-full lg:flex">
            <ul class="flex items-center h-full space-x-6 font-medium">
              <% if current_user %>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete  %></li>
              <% else %>
                <li><%= link_to 'Login', new_user_session_path  %></li>
                <li><a href="/users/sign_up">Register</a></li>
              <% end %>
            </ul>
          </nav>
          <button @click="mobileNavOpen = !mobileNavOpen" class="flex items-center space-x-2 lg:hidden">
            <span class="text-xs">Menu</span>
            <span x-show="!mobileNavOpen"><%= heroicon "menu", options: { class: "w-4 h-4" } %></span>
            <span x-show="mobileNavOpen"><%= heroicon "x", options: { class: "w-4 h-4" } %></span>
          </button>
        </header>
      </div>
      <div class="relative z-10 flex flex-col flex-grow">
        <div class="flex items-stretch flex-grow">
          <aside class="fixed top-0 left-0 z-50 flex flex-col w-3/4 h-full p-6 pt-32 overflow-scroll transition-transform duration-200 transform bg-white shadow lg:pt-6 lg:relative lg:w-72 lg:h-auto" :class="mobileNavOpen ? 'translate-x-0 shadow-lg' : '-translate-x-full lg:translate-x-0'">
            <div class="flex-grow space-y-2">
              <nav aria-labelledby="shipping-details" class="space-y-2">
                <h2 id="shipping-details" class="font-semibold lg:pl-3">
                  Shipping Menu
                </h2>
                <ul class="space-y-1 sidebar-nav">
                  <li>
                    <a href="/shipments/new" class="flex items-center p-2 space-x-1 text-sm font-medium duration-300 rounded-md group bg-ivf-blue-50 hover:bg-ivf-blue hover:text-white transform-colors">
                      <%= heroicon "plus", options: { class: "w-4 h-4" } %>
                      <span>New Shipment</span>
                    </a>
                  </li> 
                  <li>
                    <a href="/shipments/" class="flex items-center p-2 space-x-1 text-sm font-medium duration-300 rounded-md group bg-ivf-blue-50 hover:bg-ivf-blue hover:text-white transform-colors">
                    <%= heroicon "globe-alt", options: { class: "w-4 h-4" } %>
                    <span>My Shipments</span>
                    </a>
                  </li>
                  <li>
                    <a href="/contacts" class="flex items-center p-2 space-x-1 text-sm font-medium duration-300 rounded-md group bg-ivf-blue-50 hover:bg-ivf-blue hover:text-white transform-colors">
                      <%= heroicon "users", options: { class: "w-4 h-4" } %>
                      <span>Address Book</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <nav aria-labelledby="account-details" class="space-y-2">
              <h2 id="account-details" class="font-semibold lg:pl-3">
                Account Menu
              </h2> 
              <ul class="space-y-1 sidebar-nav">
                <li>
                  <a href="/profile" class="flex items-center p-2 space-x-1 text-sm font-medium duration-300 rounded-md group bg-ivf-blue-50 hover:bg-ivf-blue hover:text-white transform-colors" aria-current="page">
                    <%= heroicon "user", options: { class: "w-4 h-4" } %>
                    <span>My Profile</span>
                  </a>
                </li>
              </ul> 
              <p class="px-2 text-xs">App Version: 0.18.0</p></nav>
          </aside>
          <main class="w-full">
            <% if notice %>
              <div class="flex items-center px-4 py-4 space-x-2 bg-green-100 lg:px-12">
                <%= heroicon "shield-check", options: { class: "w-4 h-4" } %>
                <p><%= notice %></p>
              </div>
            <% end %>
            <% if alert %>
              <div class="flex items-center px-4 py-4 space-x-2 bg-red-200 lg:px-12">
                <%= heroicon "shield-exclamation", options: { class: "w-4 h-4" } %>
                <p><%= alert %></p>
              </div>
            <% end %>
            <%= yield %>
          </main>
        </div>
        
      </div>
      
        <svg role="presentation" aria-hidden="true" viewBox="0 0 87.15 87.26" class="absolute top-0 left-0 z-0 w-screen text-gray-100 transform -translate-x-1/2 opacity-50 fill-current template-texture"><path d="M43.53,0A43.63,43.63,0,0,0,0,40.84H13.7A29.93,29.93,0,1,1,43.5,73.59h0A29.88,29.88,0,0,1,13.93,48H.11A43.63,43.63,0,1,0,43.53,0Z"></path> <path d="M67.7,43.62a24.08,24.08,0,0,0-48-2.78h26L52.82,48H19.93A24.07,24.07,0,0,0,67.7,43.62Z"></path>
      </svg>
    </div>
  </body>
</html>
